@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

/* ==================== Removed elements ================= */

@media screen and (max-width: 767px) {
  .popup-links,
  .headline-image2,
  .shapes {
    display: none !important;
  }
}

/* ==================== General styles ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

a {
  text-decoration: none;
}

body {
  background-image: url(assets/shapes/1.svg);
  background-repeat: no-repeat;
  background-color: white;
  align-items: center;
}

main {
  width: 100%;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.resume-link {
  color: #92dcdc;
  max-width: 500px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 15px;
  align-items: center;
}

.resume-link i {
  color: #92dcdc;
  width: 22px;
}

.social-links {
  max-width: 500px;
  gap: 30px;
}

.social-links i {
  color: white;
  font-size: 25px;
}

.primary-text {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  color: #1a2236;
  line-height: 100%;
}

.secondary-text {
  font-size: 14px;
  line-height: 21px;
}

.primary-button {
  width: 100%;
  height: 50px;
  background: #1a2236;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  border: none;
  transition: 0.1s;
  cursor: pointer;
}

/* for some reason i had to put this hear to fix stupid linter error */

.nav-top i {
  display: flex;
  justify-content: center;
  margin: 24px 20px 0 21px;
  font-size: 30px;
}

.popup-project-container > i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 19px;
  font-size: calc(20px + 2vw);
  cursor: pointer;
}

.dark-button i {
  color: white;
  margin-left: 20px;
}

.popup-button i {
  margin-left: 36px;
}

.primary-button i {
  color: white;
  margin-left: 20px;
}

.primary-button:hover {
  background-color: white;
  border: 1px #1a2236 solid;
  color: #1a2236;
  transition: 0.1s;
}

.primary-button:hover i {
  color: #1a2236;
  transition: 0.1s;
}

.primary-button:active {
  border: 2px #1a2236 solid;
}

.dark-button {
  width: 190px;
  height: 44px;
  color: white;
  background: #1a2236;
  font-weight: 500;
  border: 1px solid white;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: 0.1s;
  cursor: pointer;
}

.dark-button:hover {
  background-color: white;
  border: 1px #1a2236 solid;
  color: #1a2236;
  transition: 0.1s;
}

.dark-button:hover i {
  color: #1a2236;
  transition: 0.1s;
}

.dark-button:active {
  border: 2px #1a2236 solid;
}

.max-width {
  max-width: 500px;
}

/* ==================== header styles ==================== */

header {
  width: 100%;
}

.menu {
  margin: 19px 14px;
  font-size: 32px;
  cursor: pointer;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
}

nav {
  position: fixed;
  background-color: white;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 19.723% 54.325% 25.952%;
  transform: translateY(-100%);
  opacity: 0;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.display-nav {
  transform: translateY(0%);
  opacity: 100;
}

nav img {
  max-height: 100%;
}

.nav-top {
  justify-content: space-between;
}

.nav-top img {
  max-width: 75%;
}

.nav-links {
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 300%;
}

.nav-links a {
  font-size: 16px;
  line-height: 24px;
  color: #1a2236;
  background:
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, black, black, black);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav-links a:hover,
.nav-links a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.nav-bottom {
  justify-content: center;
  max-width: 100vw;
  max-height: 100%;
}

/* ==================== headline styles ==================== */

.headline {
  width: 100vw;
}

.info {
  margin: 104px 14px 32px 16px;
  gap: 22px;
}

.headline-image {
  width: 100%;
}

.headline-text {
  letter-spacing: -0.01em;
}

/* ==================== Works styles ==================== */

.works {
  width: 100%;
  max-width: 500px;
  align-items: center;
  list-style: none;
}

.works-title h2 {
  padding: 40px 32px 32px 16px;
}

.projects {
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: left;
  grid-template-columns: 100%;
}

.project {
  height: 342px;
  list-style: none;
}

.project-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 186px;
}

.project-info {
  height: 156px;
  padding: 20px;
  color: white;
  background-color: #1a2236;
}

.project-name h3 {
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
}

.project-tags {
  margin: 16px 0 20px 0;
  list-style: none;
  gap: 10px;
}

.ability li {
  color: #fff;
}

.project-tags li {
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  background-color: #98dede;
  padding: 6px 10px;
}

.popup-window {
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  top: 0;
  z-index: 1;
  background: rgba(26, 34, 54, 0.95);
  backdrop-filter: blur(12px);
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

.display-popup {
  transform: scale(1);
  opacity: 100%;
}

.popup-project-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 57px 0 20px 0;
  overflow-y: scroll;
  overflow-x: clip;
  gap: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.popup-header,
.popup-images {
  padding: 0 20px 0 20px;
}

.popup-header .project-name {
  font-size: 6.25vw;
  color: #1a2236;
  margin-bottom: 23px;
}

.popup-header .project-tags {
  margin: 0;
}

.popup-header .project-tags li {
  border: 0.516669px solid #1a2236;
  background-color: white;
}

.popup-images {
  min-height: calc(350px + 10vh + 10vw);
  max-height: 857px !important;
  display: grid;
  grid-template-rows: 80% 20%;
}

.main-image {
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.arrow {
  width: calc(3.2vh + 4.8vw);
  height: calc(3.2vh + 4.8vw);
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  background-color: #1a22365a;
  box-shadow: #1a2236 1px 1px 1px;
}

.left-arrow {
  transform: rotate(180deg);
}

.secondary-images {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.secondary-image:hover {
  cursor: pointer;
}

.main-image,
.secondary-image1,
.secondary-image2,
.secondary-image3,
.secondary-image4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/projects/0/main.svg.svg);
  transition: 0.2s;
}

.popup-description {
  padding: 0 18px 0 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.popup-buttons {
  width: 100%;
  gap: 29px;
  align-items: center;
}

.popup-button {
  width: 76.875vw;
  height: 51px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background-color: white;
  border: 1px solid #1a2236;
  margin-left: 11px;
}

.popup-button:hover,
.popup-button:hover i {
  background-color: #1a2236;
  color: white;
  cursor: pointer;
}

.selected-image {
  border: 1px solid #1a2236;
}

.popup-links {
  padding: 0 11px;
}

/* ============================== about-myself styles ==================================== */

#about {
  margin: 56px 14px 32px 16px;
}

#about-text {
  margin-top: 20px;
  margin-bottom: 32px;
}

#about-button {
  margin-bottom: 40px;
}

#abilities {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.ability {
  width: 100%;
  height: 289px;
  list-style: inside;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 53px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.ability h3 {
  margin: 0;
}

.ability-title {
  margin-bottom: 21px;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

#languages {
  background: url(assets/shapes/3.1.svg) #1c528a;
  background-repeat: no-repeat;
  background-position: bottom right;
}

#frameworks {
  background: url(assets/shapes/3.2.svg) #e2505c;
  background-repeat: no-repeat;
  background-position: bottom right;
}

#skills {
  background: url(assets/shapes/3.3.svg) #febf52;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* ==================== Contact styles ==================== */

.contact {
  width: 100%;
  margin-top: 27px;
  background: url(assets/shapes/1.svg) #f9f9fa;
  background-repeat: no-repeat;
  padding: 106px 13px 31px 17px;
  gap: 14px;
  align-items: center;
}

.contact-info {
  width: 100%;
  gap: 20px;
}

.contact-form {
  width: 100%;
  gap: 20px;
}

.contact-form ul {
  list-style: none;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 52px;
  padding: 23px 0 8px 16px;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  outline: none;
}

.contact-form textarea {
  height: 112px;
  padding: 14px 16px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #7d7c84;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #1a2236;
}

.contact-form label {
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

#warning,
#warning b {
  color: rgb(255, 0, 25);
  text-align: center;
}

#warning b {
  font-weight: bolder;
  color: rgb(255, 0, 85);
}

.form-buttons {
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* ==================== Footer styles ==================== */

footer {
  width: 100%;
  color: white;
  background: #1a2236;
  align-items: center;
  padding: 28px 14px 36px 18px;
  gap: 25px;
}
